body{
    font-family: 'Roboto';
    margin: 0 auto;
    max-width: 1280px;
    margin-left: 100px;

}

.subject-link{
    padding-top: 63px;
    display: flex;
    text-decoration: none;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #000000;
}

.subject-blu{
    color: #4BCAFF;
}

.block-list{
    background-color: #35444F;
    margin-top: 40px;
    height: 69px;
    display: flex;   
    justify-content: center;
}

.block-list-item {
    color: white;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    padding-top: 24px;
    padding-bottom: 18px;
    border-left: 1px solid white;
}

.fun {
    padding-left: 33px;
    padding-right: 33px;
}

.ramda {
    padding-left: 39px;
    padding-right: 39px;
}

.fan {
    padding-left: 40px;
    padding-right: 40px;
}

.node {
    padding-left: 40px;
    padding-right: 23px;
    border-right:1px solid white ;
}

.block-list-item:hover {
    background-color: #222F3A;
}
 .nav {
    display: flex;
 }

 .nav-col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 344px;
    height: 399px;
    margin-top: 49px;
    border: 1px solid black;
 }

 .nav-col-items{
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #495863;
    padding-left: 44px;
    padding-top: 26px;
    height: 100%;
   
 }

 .nav-col-items:hover {
    background-color: #DBDBDB;
    color: black;
    padding-left: 70px;
 }

.nav-foto {
    width: 885px;
    height: 529px;
    border: 1px solid black;
    margin-left: 50px;
    margin-top: 49px;
}

.nav-foto-img {
    padding-top: 75px;
    padding-left: 297px;
}

.text {
    height: 120px;
    max-width: 885px;
    margin-top: 37px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding-left: 396px;
}

.title {
    height: 109px;
    max-width: 885px;
    margin-top: 37px;
    padding-left: 396px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;    
}

.row {
    max-width: 1280px;
    margin-top: 54px;
    height: 69px;
    align-items:center;
    background-color: rgba(99, 105, 110, 0.48);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.row-more {
    width: 875px;
    padding-left: 40px;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;  
    display: flex;
    justify-content: space-around;    
}

.row-more li:hover {
    color: #3181A6;
    border-bottom: 2px solid #3181A6;
}

.row-footer {
    text-align: right;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
}

.row-footer:hover {
     color: #3181A6;
    border-bottom: 2px solid #3181A6;
}

 /* .big {
    display: flex;

 }
.box{
    width: 344px;
    height: 399px;
    border: 1px solid black;
    margin-left: 100px;
    margin-top: 49px;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.foto {
    margin-top: 49px;
    margin-left: 52px;
    width: 885px;
    height: 529px;
    border: 1px solid black;
} */
