body {
    background-image: url("./fon1.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Ubuntu';
} 

.header {
    color: white;
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    padding-left: 5.1vw;
}
.header img:hover{
    background-image: url(./vector1.svg);
    color: #01813F;
}

.header-icon {
    padding-right: 5.1vw;
}

.header-icon-data {
    padding-right: 1.75vw;
    fill: white;
}

.header-icon-data:hover{
    fill: #01813F;
}

.header-icon-mail {
    padding-right: 1.56vw;
    fill: white;
}

.header-icon-mail:hover{
    fill: #01813F;
}
.header-icon-compass{
    padding-right: 1.55vw;
    fill: white;
}

.header-icon-compass:hover{
    fill: #01813F;
}

.header-icon-element {
    padding-right: 1.75vw;
}

.header-icon-span {
    position: relative;
    bottom: 5px;   
}

.header:hover{
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.41;
}

.header h1:hover{
    color: #01813F;
}
 
.header-icon-span:hover span{
    color: #01813F;
}

.block{
    margin: auto;
    margin-top: 54px;
    margin-bottom: 74px;
    width: 28.9vw;
    height: max-content;
    background-color: white;
}

.green{
    position: relative;
    top: 29px;
}

.block form{
    padding-left: 3.9vw;
    padding-right: 3.9vw;
    padding-top: 11px;
    padding-bottom: 38px;
}

.form-sign{
    columns: #434343;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.form-log{
    text-decoration: none;
    float: right;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color:  #3CB878;
}

.form-log:hover{
    color: #01813F;
    border-bottom: 2px solid #01813F;
}

.form-buttom button{
    width: 10.4vw;
    height: 6.4vh;
    margin-top: 15px;
    margin-bottom: 32px;
}

.form-buttom-face{
    float: left;
    background-color: #305DB8;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: white;
    border-radius: 4px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.form-buttom-face:hover{
    background-color: #022263;
}

.form-buttom-google{
    float: right;
    background-color: #DF4A32;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: white;
    border-radius: 4px;
    border: none;
    display: flex;
    align-items: center;
}

.form-buttom-google:hover{
    background-color: #AB1F09;
}

.form-buttom-google-line{
    margin-left: 7px;
    margin-right: 30px;
}

.form-or{
    width: max-content;
    display: flex;
    align-items: center;
}

.form-or span{
    color: #848484;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
 
}

.form-or div{
    border: 1px solid #f2f2f2;
    width: 9.9vw;
}

.form input {
    border: 1px solid #F2F2F2;
    font-weight: 400;   
    font-size: 14px;
    line-height: 14px;
    font-family: 'Ubuntu';
    color: #434343;
    width: 21vw;
    height: 6vh;
    margin-top: 15px;
    outline: none;
}

.form input::placeholder{
    color: #bebebe;
}

.form input:focus{
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}
#checkbox{
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    
    appearance: none;
}

#checkbox:checked{
    background-image: url(./checkbox.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.form label{
    position: relative;
    bottom: 7px;
    left: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}

.form label > span{
    color: #3CB878;
}

.form label > span:hover{
    color: #01813F;
    border-bottom: 1px solid #01813F;
}

.submit{
    width: 100%;
    height: 6.4vh;
    background-color: #3CB878CC;
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
}

.submit:hover{
    background-color: #01813F;
}