table{
    margin: auto;
    border-top: 27px solid;
    border-bottom: 27px solid;
    border-right: 27px solid;
    border-left: 21px solid;
    border-color: #3A4965;
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

td:nth-child(2n){
    background-color: #E3E3E3;
}

td:nth-child(odd){
    background-color: #F2F2F2;
}



td:first-child{
    width: 200px;
}

td{
    width: 160px;
    text-align: center;
}
tr:first-child{
    height: 115px;
    border-bottom: 12px solid #3A4965;
    
}

tr {
    height: 169px;
}
tr:first-child svg{
    position: relative;
    top:26px;
}

table:first-child tr:first-child td:first-child h2{
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    color: #484848;
}

table:first-child tr:first-child td:first-child h1{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    position: relative;
    bottom: 31px;
    color: #484848;
}

span{
    position: relative;
    top: 66px;
}

tr:nth-child(2) td:first-child{ 
    background-color: #89C331;
    color: white;
}
tr:nth-child(2) td:first-child span:first-child{ 
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    position: absolute;
    top: 177px;
    left: 209px;
}

tr:nth-child(2) td:first-child span:nth-child(2){ 
    font-weight: 700;
    font-size: 36px;
    line-height: 28px;
    position: relative;
    right: 5px;
    top: 55px;
}

tr:nth-child(2) td:first-child span:nth-child(3){
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;   
    right: 8px;
    top: 40px;
    position: relative;
}


tr:nth-child(2) td:first-child span:nth-child(4){
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    right:2px;
    position: relative;
    top: 48px;
}


tr:nth-child(2) td:first-child button{
    width: 174px;
    height: 44px;
    color: white;
    background-color: #414141;
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    position: relative;
    top: 62px;
}

tr:nth-child(3) td:first-child{ 
    background-color: #F04A56;
    color: white;
}
tr:nth-child(3) td:first-child span:first-child{ 
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    position: absolute;
    top: 332px;
    left: 209px;
}

tr:nth-child(3) td:first-child span:nth-child(2){ 
    font-weight: 700;
    font-size: 36px;
    line-height: 28px;
    position: relative;
    right: 5px;
    top: 55px;
}

tr:nth-child(3) td:first-child span:nth-child(3){
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;   
    right: 8px;
    top: 40px;
    position: relative;
}


tr:nth-child(3) td:first-child span:nth-child(4){
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    right:2px;
    position: relative;
    top: 48px;
}


tr:nth-child(3) td:first-child button{
    width: 174px;
    height: 44px;
    color: white;
    background-color: #414141;
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    position: relative;
    top: 62px;
}

tr:nth-child(4),
tr:nth-child(3){
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
}

tr:nth-child(4) td:first-child{ 
    background-color:#20807C;
    color: white;
    height: 169px;
}
tr:nth-child(4) td:first-child span:first-child{ 
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    position: absolute;
    top: 498px;
    left: 209px;
}

tr:nth-child(4) td:first-child span:nth-child(2){ 
    font-weight: 700;
    font-size: 36px;
    line-height: 28px;
    position: relative;
    right: 5px;
    top: 55px;
}

tr:nth-child(4) td:first-child span:nth-child(3){
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;   
    right: 8px;
    top: 40px;
    position: relative;
}


tr:nth-child(4) td:first-child span:nth-child(4){
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    right:2px;
    position: relative;
    top: 48px;
}


tr:nth-child(4) td:first-child button{
    width: 174px;
    height: 44px;
    color: white;
    background-color: #414141;
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    position: relative;
    top: 62px;
}