@import "reset.scss";
@import "variables.scss";
@import "mixsins.scss";

  body {
    font-family: "Roboto";
  }
  
  .list-item {
    cursor: pointer;
    color: $gray;
    &:hover {
      color: $green;
    }
  }
  
  .menu-list-item {
    @include icon;
    z-index: 1;
  }
  .close-list-item {
    @include icon;
  }
  .material-symbols-outlined {
    padding-top: 6px;
  }
  
  .section-title{
    color: $gray;
    font-weight: 700;
    text-transform: uppercase;
  }
  .recent-posts-title{
    font-weight: 700;
    color: $gray;  
  }
  .header {
    height: 84vw;
  }
  .list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .menu-list-item {
      margin-top: 23px;
      display: inline-block;
    }
    .close-list-item {
      margin-top: 23px;
      display: inline-block;
    }
    .list-item {
      display: none;
      padding-top: 2.19vw;
      padding-bottom: 2.19vw;
      background-color: $light-gray;
      position: relative;
      top: 60px;
      z-index: 1;
      &:hover {
        background-color: $light-gray-active;
      }
    }
    .responsive {
      width: 40vw;
      display: inline-block;
    }

    .close {
      display: none;
    }
    .exit {
      display: none;
    }
  }

  .image img {
    position: absolute;
    top: 26vw;
    width: 100%;
  }


.invisible {
  display: none;
}

.section-title {
  font-size: 14px;
  line-height: 22px;
}


.recent-posts {
  img {
    padding-top: 26px;
  }
  &-title {
    padding-top: 11px;
    color: $gray;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
  }
  &-description{
    color: $grafit;
    font-size: 11px;
    font-family: 'Roboto';
    line-height: 20px;
  }
  
}.instagram{
    padding-top: 77px;
    &-header{
      padding-bottom: 13px;
    }
  }

  .footer_conteiner {
    background-color:$black;
    color: $color-footer;
    padding: 70px 0;
   
}


.footer_wrap {
    text-align: center;
}

.footer_title {
    text-transform: uppercase;
    font-size: 22px;
     color: $white;
    font-weight: 700;
    margin-bottom: 8px;
}

.footer_soc_wrap {
    margin: 25px 0;

    a {
        margin-right: 5px;

        &:last-child {
            margin-right: 0;
        }
    }

    img {
        width: 34px;
        height: 34px;
        object-fit: contain;
    }
}

.footer_text {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
}
.footer_contacts p{
  padding-top: 10px;
}




@media screen and (min-width: 769px) {

  
  .list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .close-list-item{
    display: none;
  }  .menu-list-item{
    display: none;
  }
  .list-item{
    display: inline-block;
    background: none;
    
  }
  .list-item:hover{
    background: none;
  }
  }

  .header {
    padding-top: 5.34vw; 
     height: 70vw;
     padding-top:30px;
  }
  .image img {
    width: 100%;
  }
  .invisible {
    display: block;
  }
  .section-title{
    padding-top: 56px;
    padding-bottom: 24px;
  }
  .recent-posts{
    &__item{
      display: flex;
    align-items: flex-start;
    }
    & img{
      padding-right: 21px;
      padding-bottom: 32px;
    }
    &-block{
      margin-top: 10px;
    }
    &-text{
      width: 404px;
      font-size: 14px;
      line-height: 26px;
      color: $grafit-text;
      padding-top: 13px;
    }
    &-description{
      color: $grafit;
    font-size: 12px;
    line-height: 20px;
    padding-top: 11px;
    }
  }
.instagram{
  background: rgba(0, 0, 0, 0.029999999329447746); 
  & .instagram-header{
    display: flex;
    justify-content: space-between;
  }
  &_images{
    display: flex;
    justify-content: space-between;
  }
  & img{
    width: 100%;
  }
}
.instagram-image__hidden{
  display: none;
}
.footer_conteiner{
flex-direction: row;
}

p {
    margin-right: 5px;

    &:last-child {
        margin-right: 0;
    }

}
}


@media screen and (min-width: 1200px){
  body{
    width: 1200px;
    margin: auto;
  }
  .recent-posts{
    &__parent{
      display: grid;
      grid-template-columns: auto auto;
    };
    &__item{
      display: flex;
    align-items: flex-start;
    }
  
  }
 .image img{
  width: 1200px;
 }
  .instagram{
    background: rgba(0, 0, 0, 0.029999999329447746);
    & img{
      width: 100%;
    }

  }
  .instagram-image__hidden{
    display: block;
  }
  }