.table {
    height: 736px;
    width: 1192px;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #484848;
    border-left: 20px solid;
    border-top: 22px solid;
    border-bottom: 32px solid;
    border-right: 27px solid;
    border-color: #3A4965;
    text-transform: uppercase;
    margin: auto;
}


.table td{
    height: 73px;
    width: 280px;
    text-align: center;
    
}
.table td,
.but td{
 box-shadow: -2px 0px 1px rgb(0 0 0 / 18%);   
}


.table th {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    background-color: #FAFAFA;
}

.header h1,
.header span {
    position: relative;
    top: 51px;
}

.table th > span{
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    
}
 .header td > span{
    color: white;
    position: relative;
    top: 27px;
 }

.header td:nth-child(2){
    background-color: #89C331;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
 }

 .header td:nth-child(3){
    background-color: #F04A56;
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
 }

 .header td:last-child{
     background-color: #20807C;
     font-weight: 700;
     font-size: 24px;
     line-height: 28px;
 }


 .table tr:nth-child(2){
    height: 89px;
    background-color: #FAFAFA;

 }

 .table tr:nth-child(2) td span:first-child{
    font-weight: 700;
    font-size: 60px;
    line-height: 28px;
    position: relative;
    top: 34px;
 }
 
 .table tr:nth-child(2) td span:nth-child(2){
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    position: relative;
    bottom: 5px;
}

.table tr:nth-child(2) td span:last-child{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    position: relative;
    right: 32px;
    top: 14px;
}

.table tr:nth-child(3){
    background-color: #F2F2F2;
}


.table tr:nth-child(3) td > span,
.table tr:nth-child(3) td > svg,
.table tr:nth-child(4) td > span,
.table tr:nth-child(4) td > svg,
.table tr:nth-child(5) td > span,
.table tr:nth-child(5) td > svg,
.table tr:nth-child(6) td > span,
.table tr:nth-child(6) td > svg,
.table tr:nth-child(7) td > span,
.table tr:nth-child(7) td > svg,
.table tr:nth-child(8) td > span,
.table tr:nth-child(8) td > svg{
    position: relative;
    top: 22px;
}

.table tr:nth-child(4),
.table tr:nth-child(6),
.table tr:nth-child(8){
    background-color: #E3E3E3;
}

.table tr:nth-child(5),
.table tr:nth-child(7){
    background-color: #F2F2F2;
}

.but td {
    height: 109px;
}

.but button {
    position: relative; 
    top: 29px;
    width: 195px;
    height: 54px;
    color: white;
    text-transform: uppercase;
    font-family: 'Arimo';
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    border-radius: 6px;
    border: none;
}

.but td:first-child button{
    background-color: #484848;

}

.but td:nth-child(2) button{
    background-color: #89C331;
    
}

.but td:nth-child(3) button{
    background-color: #F04A56;
}

.but td:nth-child(4) button{
    background-color: #20807C;
}

.but td:first-child {
    background-color: #DDDDDD;
}
.but td:nth-child(2){
    background-color: #EEEEEE;
}

.but td:nth-child(3){
    background-color:#F4F4F4 ;
}
.but td:nth-child(4){
    background-color:#EEEEEE ;
}