body {
    background-image: url("./background\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: max-content;
    margin: auto;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: white;
}

.header{
    padding-top: 46px;
    margin: auto;
    width: 1028px;
    display: flex;
    justify-content: space-between;
}

.header-project {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content max-content;
}

.header-project-img{
    grid-row: 1/3;
}

.header-project-img img{
    padding-top: 5px;
}

.header-project a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
}

.header-project-title {
    font-size: 29px;
    line-height: 29px;
    padding-top: 5px;
    padding-left: 8px;
}

.header-project-subtitle {
    padding-left: 8px;
    align-self: end;
}

.header-project:hover img{
    content: url("./logo2.png");
}
.header-project:hover a{
    color: #F26522;
}

.header-aside {
    display: grid;
  
}

.header-aside a {
    text-decoration: none;
    color: white;
}

.header-aside-number {
    justify-self: end;
    align-self: end;
}

.header-aside a:hover{
    color: #F26522;
}

.box {
    padding-top: 124px;
    margin: auto;
    width: 1030px;
    height: 560px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 67px;
    row-gap: 37px;
}

.box-holder a,
.box-block a,
.box-conteiner a,
.box-bars a,
.box-art a,
.box-walking a{
    text-decoration: none;
    color: white;
}
.box-holder-img {
    display: block;
    background-image: url("../img/image1.png");
    width: 300px;
    height: 220px;
    position: relative;
    text-decoration: none;
    
}

.box-holder-img-list,
.box-block-img-list,
.box-conteiner-img-list,
.box-bars-img-list,
.box-art-img-list,
.box-walking-img-list {
    width: 300px;
    height: 55px;
    background-color: #F26522;
    position:relative;
    top: 165px;
    color: white;
    display: none;
    visibility: hidden;
}

.box-holder-img-list span:first-child,
.box-block-img-list span:first-child,
.box-conteiner-img-list span:first-child,
.box-bars-img-list span:first-child,
.box-art-img-list span:first-child,
.box-walking-img-list span:first-child {
    font-size: 10px;
    line-height: 10px;
    position: absolute;
    top: 7px;
    left: 16px;
}

.box-holder-img-list span:nth-child(2),
.box-block-img-list span:nth-child(2),
.box-conteiner-img-list span:nth-child(2),
.box-bars-img-list span:nth-child(2),
.box-art-img-list span:nth-child(2),
.box-walking-img-list span:nth-child(2){
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    top: 29px;
    left: 16px;
}

.box-holder-img-list span:nth-child(3),
.box-block-img-list span:nth-child(3),
.box-conteiner-img-list span:nth-child(3),
.box-bars-img-list span:nth-child(3),
.box-art-img-list span:nth-child(3),
.box-walking-img-list span:nth-child(3) {
    font-size: 14px;
    line-height: 14px;
    float: right;
    position: absolute;
    top: 29px;
    right: 27px;
}

.box-holder-img-list span:nth-child(3)::after,
.box-block-img-list span:nth-child(3)::after,
.box-conteiner-img-list span:nth-child(3)::after,
.box-bars-img-list span:nth-child(3)::after,
.box-art-img-list span:nth-child(3)::after,
.box-walking-img-list span:nth-child(3)::after{
    content: url("./Vector11.svg");
    position: relative;
    left: 13px;
    top: 2px;
}

a:hover .box-holder-img-list,
a:hover .box-block-img-list, 
a:hover .box-conteiner-img-list,
a:hover .box-bars-img-list,
a:hover .box-art-img-list,
a:hover .box-walking-img-list{
    display: inline-block;
    visibility: visible;
}

.box-holder-img-text,
.box-block-img-text,
.box-conteiner-img-text,
.box-bars-img-text,
.box-art-img-text,
.box-walking-img-text {
    display: inline-block;
    width: 300px;
    text-align: center;
    margin-top: 20px;
}

a:hover .box-holder-img-text,
a:hover .box-block-img-text,
a:hover .box-conteiner-img-text,
a:hover .box-bars-img-text,
a:hover .box-art-img-text,
a:hover .box-walking-img-text {
    color: #F26522;
}

.box-block-img {
    display: block;
    background-image: url("../img/image2.png");
    width: 300px;
    height: 220px;
    position: relative;
    text-decoration: none;
}

.box-conteiner-img {
    display: block;
    background-image: url("../img/image3.png");
    width: 300px;
    height: 220px;
    position: relative;
    text-decoration: none;
}

.box-bars-img {
    display: block;
    background-image: url("../img/image4.png");
    width: 300px;
    height: 220px;
    position: relative;
    text-decoration: none;
}

.box-art-img {
    display: block;
    background-image: url("../img/image5.png");
    width: 300px;
    height: 220px;
    position: relative;
    text-decoration: none;
}

.box-walking-img {
    display: block;
    background-image: url("../img/image6.png");
    width: 300px;
    height: 220px;
    position: relative;
    text-decoration: none;
}

.footer {
    text-align: center;
    padding-top: 49px;
    padding-bottom: 15px;
}