body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-to-show {
    width: 400px;
    height: 400px;
  }

  .images-wrapper {
    display: flex;
    flex-direction: column;
  }

  button {
    font-size: 18px;
  }

  .style {
    background-image: url('../img/5.jpg');
    background-size: cover;
  }

  .button-style {
    margin: 10px;
    padding: 5px 15px;
    border-radius: 5px;
    color:white;
    background-color: blueviolet;
  }



