body {
    margin: 0;
    background-color: #323232;
    font-family: 'Gilam';
}
.conteiner-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.conteiner-wrapper-logo {
    margin-top: 46px;
}

.conteiner-wrapper-button {
    width: 218px;
    height: 50px;
    background-color: #323232;
    border: 1px solid #E4B564;
    font-family: 'Circe';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.conteiner-wrapper-button a {
    color:#E4B564;
    text-decoration: none;
}

.conteiner-holder-heading {
    font-size: 50px;
    line-height: 28px;
    font-weight: 700;
    color: white;
    padding-top: 128px;
    padding-bottom: 41px;
}
 
.conteiner-holder-text {
    width: 1182px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color: white;
    padding-bottom: 41px;
}

.conteiner-heder {
    height: 970px;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

.conteiner-heder span {
    color: white;
    text-align: center;
    padding-top: 220px;
}

.conteiner-heder-zr {
    background-color: #634F2C;
    grid-column: 1/3;
}

.conteiner-heder-pp {
    background-color: #B4A385;
    grid-column: 3/5;
}

.conteiner-heder-uk {
    background-color: #E4B564;
    grid-column: 5/7;
}

.conteiner-heder-un {
    background-color: #635A4A;
    grid-column: 1/4;
}

.conteiner-heder-uj {
    background-color:  #B08C4D;
    grid-column: 4/7;
}

.box-list {
    font-family: 'Gilam';
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: white;
    padding-top: 161px;
    padding-bottom: 94px;
}

.box-wrap {
    height: 900px;
    padding-bottom: 191px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 255px 58px 126px 162px 277px;
    gap: 30px;
    grid-template-areas: 
        "iv km ep"
        "iv km kb"
        "po km kb"
        "po ek kb"
        "po ek ka";                     

}

.box-wrap span {
    padding-left: 44px;
    padding-top: 48px;
}

.box-wrap-iv {
    background-color: #0E0E0E;
    grid-area: iv;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: white;
}

.box-wrap-km {
    background-color: #242424;
    grid-area: km;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: white;
}

.box-wrap-ep {
    background-color: #1F1F1F;
    grid-area: ep;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: white;
}

.box-wrap-po {
    background-color:#1F1F1F;
    grid-area: po;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: white;
}

.box-wrap-ek {
    background-color:#E4B564;
    grid-area: ek;
    height: 405px;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
     color: black;
}

.box-wrap-kb {
    background-color:  #0E0E0E;
    grid-area: kb;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: white;
}

.box-wrap-ka {
    grid-area: ka;
    background-color: #0A0909;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: white;
}

.block {
     background-color: #0E0E0E;
     
}
    
.block-title {
    padding-top: 172px;
    padding-bottom: 72px;
    justify-content: space-between;
    display: flex;
}
.block-title-page {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color:#FFFFFF;
}

.block-title-but {
    width: 180px;
    height: 50px;
    background-color: #0E0E0E;
    border: 1px solid #E4B564;
    font-family: 'Circe';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.block-title-but a {
    color:#E4B564;
    text-decoration: none;
}

.block-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 780px;
}

.block-footer div {
   height: 391px;
   text-align: center;
}

.block-footer-eid {
    background-color: #634F2C;
}

.block-footer-eid > img{
    padding-top: 171px;
}

.block-footer-mab {
    background-color:rgba(232, 210, 171, 0.76);
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: white;
}
.block-footer-mab p {
    width: 326px;
    height: 140px;
    padding-left: 80px;
}

.block-footer-mab-logo {
    display: block;
    margin-top: 60px;
    margin-left: 217px;
}

.block-footer-mab-pic {
    display: block;
    margin-left: 173px;
}
.block-footer-apc {
    background-color:  #E4B564;
}

.block-footer-apc > img {
    padding-top: 174px;
}

.block-footer-apcned {
    background-color: #635A4A;
}

.block-footer-apcned > img{
    padding-top: 174px;
}
.block-footer-set {
    background-color: #B08C4D;

}

.block-footer-set-group {
    width: 119px;
    height: 53px;
    margin-top: 169px;
    margin-left: 184px;
}

.block-footer-set-group-top {
    position: relative;
}

.block-footer-set-group-s {
    position: relative;
    bottom: 21.5px;
    right: 49px;
}

.block-footer-set-group-e {
    position: relative;
    bottom: 21.5px;
    right: 53px;
}

.block-footer-set-group-t {
    position: relative;
    bottom: 21.5px;
    right: 57px;
}

.block-footer-set-group-lin {
    position: relative;
    bottom: 21.5px;
    right: 58.5px;
}

.block-footer-set-group-g {
    position: relative;
    bottom: 41px;
    left: 36px;
}

.block-footer-set-group-r {
    position: relative;
    bottom: 41px;
    left: 36px;
}

.block-footer-set-group-o {
    position: relative;
    bottom: 41px;
    left: 32px;
}

.block-footer-set-group-u {
    position: relative;
    bottom: 41px;
    left: 30px;
}

.block-footer-set-group-p {
    position: relative;
    bottom: 37px;
    left: 28px;
}

.block-footer-eideuro {
    background-color: #634F2C;
}

.block-footer-eideuro > img {
    padding-top: 171px;
}
